* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    background-image: url(https://www.pngmagic.com/product_images/plain-soid-Light-Slate-Gray-bhackground-images.jpg);
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions > * {
  margin: 0 10px 0 10px;
}

.actions a {
  color: #e8eef0;
}

.actions button {
  color:#f77a06;
  background-color: #063a3a;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

b, strong{
  font-weight: bolder;
}

main {
  margin-top: 184px;
  text-align: center;
}

h1 {
    color: #f3f6f7;
    font-family: "Alegreya",serif;
    font-size: 60px;
    margin-bottom: 24px;
}

h4 {
  color: #000303;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

p {
  color: #141414cc;
  font-size: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

form {
  height: 50px;
}

input,
button{
  height: 100%;
  border-radius: 8px;
}

input{
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  width: 60%;
  max-width: 250px;
}

button {
  color:#f77a06;
  background-color: #063a3a;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 20px;
  margin-left: 10px;
}

element.sytle {
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 16px;
}

figure {
  margin-top: 32px;
  margin-bottom: 16px;
}

figure.intro > img {
  width: 70%;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.explanatory-video {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.publish {
  /* container styles if any */
  flex: 1;
  margin-left: 15px;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #f7f8f8;
}

.publish > p {
  font-size: 16px;
  color: #080000;
  line-height: 1.5;
  margin-bottom: 20px;  
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #073d41;
  margin-right: 18px;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.success-stories .stories-carousel {
  flex: 1;
}

.success-stories .stories-carousel .carousel-indicators {
  position: unset;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

carousel-indicators .active {
  opacity: 1;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

ol {
  list-style-type: decimal;
}

.success-stories .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-media {
  position: relative;
}

.success-stories .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.success-stories .stories-carousel .card .card-body,
.success-stories .stories-carousel .card .card-footer {
  padding: 25px;
}

.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.success-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.success-stories .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

.features {
  background-color: #025157;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330PX) / repeat(2, 1fr);
}

.features .feature-card {
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.features .feature-card .feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.how-does-it-work {
  padding: 5% 15px;
}

.how-does-it-work {
  background-color: #fffbf7;
  padding: 5% 10px;
  text-align: center;
}

.how-does-it-work .description {
  max-width: unset;
}

.how-does-it-work .description {
  max-width: 60%;
  color: #303031;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-does-it-work .description a {
  color: #fdfdfd;
  text-decoration: none;
}

.how-does-it-work .steps {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step .card-step-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  font-weight: 400;
  height: 85px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.how-does-it-work .steps .card-step .card-step-body a {
  font-size: 16px;
  line-height: 1.4;
  color: #08e28f;
  font-weight: 600;
  text-decoration: none;
}

.how-does-it-work .steps .card-step .card-step-image {
  position: relative;
  height: 350px;
}

.how-does-it-work .steps .card-step .card-step-body h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", sans-serif;
  color: #000000;
  font-weight: 400;
  text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body {
  padding: 25px;
}

.how-does-it-work .title {
  color: #000000;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", sans-serif;
  margin-bottom: 8px;
}

.how-does-it-work {
  background-color: #f87d02;
  padding: 5% 10%;
  text-align: center;
}

.how-does-it-work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

.title {
  font-size: 30px;
}

.header {
    margin:10px 20px 0 20px;
    font-size: 0;
    line-height: 10px;
}

li {
   display: inline;
   text-align: -webkit-match-parent;
}

.header {
  padding-bottom: 184px;
}

.header p {
  color: #46484c;
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100px;
    line-height: 10px;
    font-family: sans-serif;
}

.logo{
    width: 15%;
}

.navbar {
  background-color: #fffbf7;
}


.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}



/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  /*.navbar, .actions {
    display: none;
  }*/

  main {
    margin-top: 130px;
  }

  h1 {
    font-size: 30px;
    color: #013b4e;
    font-family: "Alegreya",serif;
    margin-top: 175px;
    margin-bottom: 24px;
  }

  .banner > img {
    width: 100%;
  }
  .promo {
    flex-direction: column;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publish {
    margin-top: 10px;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .publish > from {
    flex-direction: column;
  }

  .publish > form > button {
    width: 92%;
  }

  .publish > form > input {
    width: 90%;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
  }

  .feature-image {
    display: none;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
